.grid-container {
    grid-template-columns: auto auto auto;
}

.header {
    grid-column: 1/span 3;
}

.item {
    background-color: #fafafa;
    padding: 10px;
    box-sizing: border-box;
}

.item h3 {
    margin: 0;
}