:root {
    --warning: #ffc107;
    --danger: #dc3545;
    --primary: #007bff;
}

body {
    margin: 0;
    background-color: #f5f2f2;
    background-image: url("../email-pattern.png");
    font-family: 'Roboto', 'sans-serif';

}

/* NAVBAR CSS */
.menubarMain {
    position: absolute;
    display: block;
    width: 100%;
    height: 47px;
    border-bottom: solid #a1a1a1;
    border-width: thin;
    background: rgba(245, 242, 242, 0.5);
    z-index: 10;
}

.menubar {
    width: 100%;
    height: 47px;
    display: block;
    background-color: #f5f5f5;
    box-shadow: 0px 4px 10px #c2c2c2;
    transition: top 0.5s;
    top: -60px;
    position: fixed;
    z-index: 100;
}

.menubar .listMenu a,
.menubarMain .listMenu a {
    float: left;
    color: #131313;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 12px;
}


.menu-navbar:hover {
    background-color: #b6b4b4;
    color: black;
    border-bottom: 3px solid #4b8d7f;
}


.menubarMain .listMenu a.active,
.menubar .listMenu a.active {
    border-bottom: 3px solid #4b8d7f;
}

/* isian Menu  */
.listMenu {
    margin: 0 100px 0 100px;
}

.listMenu a:first-child img {
    opacity: 0.5;
    height: 20px;
    width: auto;
}

.listMenu a.icon:hover {
    background-color: transparent;
    border: none;
}

.listMenu a.icon img:hover {
    opacity: 1;
}

.menubar-right {
    position: relative;
    float: right;
}

.btn {
    text-decoration: none;
    color: #131313;
    padding: 2px;
    border-radius: 4px;
    border: none;
    margin: 0 1px;
}

.btn-login {
    margin-top: 0.5px;
    border: solid #7e7e7e;
    border-width: thin;
    border-radius: 10px;
    width: 50px;
    color: #3a3a3a;
    background-color: #d3d0d0;
    opacity: 0.7;
}

.btn-login:hover {
    color: #3a3a3a;
    opacity: 1;
}

.btn-register {
    margin-top: 0.5px;
    border: solid #7e7e7e;
    border-width: thin;
    border-radius: 10px;
    width: 50px;
    color: #d4d4d4;
    background-color: #4b8d7f;
    opacity: 0.7;
}

.btn-register:hover {
    color: #d4d4d4;
    opacity: 1;
}

.btn-primary {
    background-color: rgba(0, 123, 255, 0.8);
}

.btn-primary:hover {
    background-color: rgba(0, 123, 255, 1);
}

.btn-danger {
    background-color: rgba(192, 16, 10, 0.8);
}

.btn-danger:hover {
    background-color: rgba(192, 16, 10, 1);
}

.btn-warning {
    background-color: rgb(255, 208, 0, 0.8);
}

.btn-warning:hover {
    background-color: rgb(255, 208, 0, 1);
}

.item .btn.btn-warning,
.item .btn.btn-danger,
.item .btn.btn-primary {
    float: right;
}




.menubar-right button.click-dropbtn {
    position: absolute;
    top: 4px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    opacity: 1;
}



/* akhir isian menu */

/* css untuk menu dropdown */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 201;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    border: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* akhir dropdown */
/* clicked dropdown untuk profile */


.menubar-right>ul {
    list-style: none;
}

.menubar-right>li {
    float: left;
    border: none;
}

.menubar-right button {
    border: 0;
    cursor: pointer;
    background: transparent;
    background-repeat: no-repeat;
    margin-top: 1px;
    padding: 22px;
    border-radius: 90px;
    background-size: cover;
}

.menubar-right button:hover,
.menubar-right button:focus {
    outline: 0;
    text-decoration: underline;
}

.submenu {
    display: none;
    position: absolute;
    min-width: 100px;
    top: 30px;
    padding: 5px;
    background-color: #e9e9e9;
}

.menubar-right button:focus+.submenu,
.submenu:hover {
    display: block;
}

ul.submenu li a:hover {
    border: none;
    background: transparent;
}


/* akhir clicked dropdown */
/* Akhir Navbar CSS */

/* Content CSS */

.jumbotron {
    position: relative;
    top: 0;
    background-image: url("../img/jumbotron.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    padding: 0 0 325px;
    z-index: 4;
}

.jumbotron h1 {
    margin-top: 230px;
    color: #303030;
    font-family: 'Pacifico', 'sans-serif';
    font-size: 40px;
    text-align: center;
    text-shadow: 0 0 15px #b4b4b4;
}

.jumbotron h2 {
    text-align: center;
    font-family: 'Exo 2', 'sans-serif';
    color: #fdd100;
    text-shadow: 0 0 5px #4d4d4d;
    font-weight: normal;
}

/* FORM */
.form img {
    position: absolute;
    display: block;
    z-index: 50;
    top: 90px;
    right: 80px;
    width: 140px;
    height: auto;

}

.jumbotron .right-content .form {
    margin: 150px 0;
    width: 100%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #a5a5a5;
    border: 5px solid rgba(240, 240, 240, 1);
    border-radius: 15px;
    box-sizing: border-box;

}

.form .input-container {
    margin: 70px 14px 0;
}

.form .input-icon {
    position: absolute;
    left: 5px;
    top: calc(50% - 0.5em);
    /* Keep icon in center of input, regardless of the input height */
}

.form .input-wrapper input {
    padding-left: 22px;
    width: 240px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #a5a5a5;
}

.form input[type='email'],
input[type='password'],
input[type='text'] {
    background-color: #ffffff;
}

.form .input-wrapper {
    position: relative;
    margin-bottom: 5px;
}

.form input[type='submit'] {
    display: block;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    background-color: #fdd100;
}

.input-text,
.input-text-area {
    width: 90%;
    margin: 0 auto 2px;
    padding: 5px;
    border: thin solid #303030;
    display: block;
    border-radius: 10px;
}

/* .input-file::-webkit-file-upload-button {
    visibility: hidden;
} */

.input-file {
    display: inline-block;
    border: 1px solid #999;
    /* border-radius: 10px; */
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 400;
    font-size: 10pt;
    width: 240px;
}



/* akhir Content CSS */
/* FORM  */


/* akhir dari css form */


/* Mengatur grid layout */
.grid-container {
    position: relative;
    width: 80%;
    top: 60px;
    display: grid;
    grid-template-columns: 250px 500px 300px;
    padding: 10px;
    margin: 0px auto 0;
    gap: 10px;
}

.sidebar-left {
    grid-column: 1;
}

.bar-center {
    grid-column: 2;
}

.sidebar-right {
    grid-column: 3;
}

.left-content {
    grid-column: 1/span 2;
}

.right-content {
    grid-column: 3;
}

/* css gird classes page */
.classes-page .grid-container {
    grid-template-columns: 33% 33% 33%;
}

.classes-page .grid-container .grid-header {
    grid-column: 1/span 3;
}


.classes-page .grid-container .item {
    background-color: #fafafa;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    border: thin solid #858585;
}

.classes-page .grid-container .item .description {
    max-height: 20px;
    overflow: auto;
    text-align: justify;
    text-align-last: center;
    /* for IE9 */
    -ms-text-align-last: center;
}

.text-justify {
    width: auto;
    text-align: justify;
}

.grid-header .adding-box {
    font-weight: bold;
    margin: 0 auto;
    width: 33%;

}

.adding-box a {
    display: block;
    width: 100%;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin: 0 auto;
}



.content {
    background: #fafafa;
    border-radius: 5px;
    padding: 10px 25px;
    margin-bottom: 10px;
    /* border: thin solid #616161; */
    box-shadow: 0 0 3px #b9b9b9;
}

.sidebar-left .content {
    min-height: 50px;
}

.sidebar-left .content img {
    float: left;
    width: 45px;
    height: 45px;
    object-fit: cover;
    border: 1px solid #9e9e9e;
    border-radius: 40px;
    margin-right: 15px;
}

/* css pada home */
.sidebar-left .content li a:hover {
    color: #4d4d4d;
}

.sidebar-left .content a {
    text-decoration: none;
    color: #007bff;
}

.sidebar-left .content ul,
.sidebar-right .content ul {
    padding-bottom: 10px;
    border-bottom: 1px solid #a3a3a3;
}

.sidebar-left .content .update {
    text-align: center;
}

.input-content {
    min-height: 40px;
    overflow: auto;
}

/* Footer */
.footer {
    font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/* header profile */
div.header {
    position: relative;
    top: 0;
    background-image: url('../img/header-academy.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0 0 200px;
    z-index: 6;
}

/* akhir header profile */

/* akhir Footer */

/* CSS DETIL COURSE */
.container {
    position: absolute;
    width: 100%;
}

.container .content {
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 40%;
}

.content .border table,
.content .border tr,
.content .border th,
.content .border td {
    height: 30px;
    min-width: 20px;
    border: thin solid #303030;
    text-align: center;
}

td.error {
    font-size: 10px;
    color: red;
}

.size-10 {
    font-size: 10px;
}

.size-12 {
    font-size: 12px;
}

.size-14 {
    font-size: 14px;
}


.header-course-content {
    position: relative;
    border-bottom: thin solid #9e9e9e;
}

.img-profile {
    float: left;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border: 1px solid #9e9e9e;
    border-radius: 40px;
    margin-right: 15px;
}

.content ul.friend li {
    list-style: circle;
}

.content a.file-materi {
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    width: 80%;
    margin: 0 auto;
    border: thin solid #303030;
    font-size: 12px;
}